extends layout.pug
block contenido
  .content
    .row
      .col-md-12
        .card
          .card-body
            form.card-content#formUpdate(action="/update/"+ newsRows.documento, method="post")
              fieldset.form-group 
              .row
                .col
                  input.form-control#primerNombre(type="text" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü]+$" name="primerNombre" value=newsRows.primerNombre required)
                  label(for="primerNombre") Primer Nombre
                  span.helper-text(data-error="El campo obligatorio esta vació", data-success="Dato Valido") (*)Campo obligatorio
                .col
                  input.form-control#segundoNombre(type="text", pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü]+$" name="segundoNombre" value=newsRows.segundoNombre)
                  label(for="segundoNombre") Segundo Nombre
                  span.helper-text(data-error="El campo obligatorio esta vació", data-success="Dato Valido")
              .row
                .col.s5
                  input.form-control#primerApellido(type="text",pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü]+$" name="primerApellido" value=newsRows.primerApellido required)
                  label(for="primerApellido") Primer Apellido
                  span.helper-text(data-error="El campo obligatorio esta vació" data-success="Dato Valido") (*)Campo obligatorio
                .col
                  input.form-control#segundoApellido(type="text",pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü]+$" name="segundoApellido" value=newsRows.segundoApellido)
                  label(for="segundoApellido") Segundo Apellido
                  span.helper-text(data-error="El campo obligatorio esta vació", data-success="Dato Valido")
              .row
                .input-field.col.s5
                d
                  select.form-control#tipoDocumento(name="tipoDocumento" )
                    option(value=newsRows.tipoDocumentoId selected disabled)=" Actual es"+newsRows.tipoDocumento
                    option.text-dark(value="1") Cédula de ciudadanía
                    option.text-dark(value="2") Cédula extranjera
                    option.text-dark(value="3") Tarjeta de Identidad
                  label(for="tipoDocumento") Tipo de documento
                  span.helper-text(data-error="No has seleccionado una opción", data-success="Selección valida") (*)Campo obligatorio
                .input-field.col.s
                  input.form-control#documento(type="number" pattern="^[0-9]+$" name="documento" value=newsRows.documento required)
                  label(for="documento") Numero de Documento
                  span.helper-text(data-error="El campo obligatorio esta vació", data-success="Dato Valido") (*)Campo obligatorio
              .row
                .col
                  label.form-label.text-light(for="formPhoto") Seleccione una foto para el perfil
                  input.form-control#formPhoto(type="file")
              .row
                .col
                  input.form-control#email.form-control(type="email" pattern="^[a-z0-9]+(\.[_a-z0-9])*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" name="email" value=newsRows.correo required)
                  label(for="correo") Correa electrónico
                  span.helper-text(data-error="Verifique su correo electrónico", data-success="Dato Valido") (*)Campo obligatorio
              .row
                .col
                  input#password.form-control(type="password", name="password" value=newsRows.contraseña required)
                  label(for="password") Contraseña
                  span.helper-text(data-error="El campo obligatorio esta vació", data-success="Dato Valido") (*)Campo obligatorio
                .col
                  input#contraPassword.form-control(type="password", name="contraPassword" value=newsRows.contraseña required)
                  label(for="contraPassword") Confirmar contraseña
                  span.helper-text(data-error="El campo obligatorio esta vació", data-success="Dato Valido") (*)Campo obligatorio
              .row
                .col
                  input#codigoPostal.form-control(type="text", name="codigoPostal" value=newsRows.codigoPostal)
                  label(for="codigoPostal") Código Postal
                .col
                  input#direction.form-control(type="text", name="direction" value=newsRows.direction)
                  label(for="direction") Dirección
                .col
                  select.form-control#sexo.form-control(name="sexo" value=newsRows.sexo)
                    option(value=newsRows.sexo_id selected disabled)=" Actual es "+newsRows.sexo
                    option.text-dark(value=1) Masculino
                    option.text-dark(value=2) Femenino
                    option.text-dark(value=3) Otro
                  label(for="sexo") Sexo
              .row
                .col.s5
                  input.form-control#telephone(type="tel", name="telephone" value=newsRows.telefono)
                  label(for="telephone") Numero de contacto
                .col.s6
                  input.form-control#country(type="text", name="country" value=newsRows.pais)
                  label(for="country", ) País
          .card-footer
            button.btn.btn-info(type="submit" form="formUpdate") Actualizar
            a.btn.btn-danger(href='/tables' data-dismiss="modal") Cancelar