extends ../header
block titleMenu
  title Perfil
block contenido
  main#perfiles.container
    .actualizar.container
      form.card(action="", method="post")
        .card-content.container
        for row in rows
          .tipoDocumento.row
            .right.col.s4
              select#TipoDocumento(name="tipoDocumento" value=row.tipoDocumentoId)
                option(disabled) Seleccione
                option(value=1) Cedula de ciudadanía
                option(value=2) Cedula extranjera
                option(value=3) Tarjeta de Identidad
            span.col.s6 Tipo de documento
          .documento.row
            span.col.s6 Numero de documento
            input#primerNombre.right.col.s4(type="number", value=row.documento)
          .primerNombre.row
            span.col.s6 Primer Nombre
            input#primerNombre.right.col.s4(type="text", value=row.primerNombre)
          .segundoNombre.row
            span.col.s6 Segundo Nombre
            input#segundoNosmbre.right.col.s4(type="text", value=row.segundoNombre)
          .primerApellido.row
            span.col.s6 Primer Apellido
            input#primerApellido.right.col.s4(type="text", value=row.primerApellido)
          .segundoApellido.row
            span.col.s6 Segundo Apellido
            input#segundoApellido.right.col.s4(type="text", value=row.segundoApellido)
          .genero.row
            span.col.s6 Genero
            input#nombreUsuario.right.col.s4(type="text", value=row.genero)
          .correo.row
          .nombreUsuario.row
            span.col.s6 Nombre de usuario
            input#nombreUsuario.right.col.s4(type="text", value=row.nombreUsuario)
          .correo.row
            span.col.s6 Correo electrónico
            input#correo.right.col.s4(type="email", value=row.correo)
          .password.row
            span.col.s6 Contraseña
            input#password.right.col.s4(type="password", value=row.contraseña)
          .direction.row
            span.col.s6 Dirección
            for rowD in row.direcciones
              input#direction.right.col.s4(type="text", value=rowD.direccion)
          .county.row
          .codigoPostal.row
            span.col.s6 Código postal
            for rowD in row.direcciones
              input#codigoPostal.right.col.s4(type="text", value=rowD.codigoPostal)
          .county.row
            span.col.s6 País
            input#country.right.col.s4(type="text", value=row.pais)
          .telephone.row
            span.col.s6 Numero de contacto
            input#telephone.right.col.s4(type="tel", value=row.telefono)
          .tipoCargo.row
            .right.col.s4
              select#TipoDocumento(disabled name="tipoDocumento" value=row.rol_id)
                option(disabled) Seleccione
                option(value=1) administrador
                option(value=2) Empleado cliente
                option(value=3) Cliente
            span.col.s6 Tipo de documento
        .card-action
            .a(href="#modalGuardar").btn.modal-trigger.green Guardar cambios
            #modalGuardar.modal
              .modal-content.center
                h4.center.container datos guardados
                p.center.text Se han actualizado los datos correctamente.
              .modal-footer
                a.modal-close.waves-effect.waves-green.btn-flat.red.white-text cerrar